 Volume in drive C has no label.
 Volume Serial Number is 6C35-A84C

 Directory of C:\Users\Malik_Zeeshan\Desktop\Giting_Started

11/02/2017  02:45 PM    <DIR>          .
11/02/2017  02:45 PM    <DIR>          ..
11/02/2017  02:45 PM                 0 .gitignore
11/02/2017  02:41 PM                31 file.txt
11/02/2017  12:46 PM                89 readme.md
11/02/2017  12:26 PM                54 secondFile.txt
               4 File(s)            174 bytes
               2 Dir(s)  32,648,404,992 bytes free
